@media (min-width: 1280px) {
    .hide-on-pc{
        display: none !important;
    }
}
/* Tablet lớn */

@media(min-width:1024px) and (max-width:1280px){
    .hide-on-tablet-large{
       display: none  !important;
    }
    .header-menu{
        justify-content: space-around;
    }
    .Header-menu-mobile{
        display: none;
    }
    .img-logo {
        display: none;
    }
    .header-right{
        padding-left: 5px;
    }
    .tab-search {
        width: 800px;
        align-items: center;
        margin-left: 5%;
    }
   
}
  
/* Mobile & Tablet */
@media (max-width:1023px){
 .hide-on-mobile-tablet{
    display: none;
 }

}

/* Tablet */
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none !important;
    }
    .header-menu{
        justify-content: space-around;
    }
    .img-logo {
        display: none;
    }
    .header-menu {
        height: auto;
    }
    .tab-search {
        width: 720px;
        align-items: center;
    }
    .s-text {
        width: 680px;
    }
    .fushion-page-title:first-child {
        margin-left: 0px;
    }
    li.social-network {
        display: none;
    }
    .nav li a {
        font-size: 14px;
    }
    .nav>li {
        margin-right: 12px;
      
    }
    .header-right{
        padding-left: 5px;
        position: relative;
    }
    .menu-items_list .arrow-follow{
        display: none;
    }
    tr{
        font-size: 14px;
    }
    .buttons_added input {
        width: 35px;
        height: 35px;
   
}
.buttons_added{
    padding-left: 5px;
    padding-right: 5px;
}
}
/* Mobile & Tablet */
@media (max-width:739px){
    .Header-menu-mobile{
        display: block;
    }
    .hide-on-mobile{
        display: none !important;
    }
    thead{
        display: none;
    }
    tr{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    tr >td:nth-child(4){
    display: none;
    }
    .delete{
        margin-top: -327px;
        margin-left: 300px;
    }
    .information-product{
        flex-direction: column;
    }
    .information-product p
    {
        margin-top: 20px;
        padding-left: 10px;
        text-align: center;
    }
    .fushion-page-title:first-child {
        margin-left: 0px;
    }
    .information-store{
        flex-direction: column;
    }
    .information-store-left .map iframe{
        width: 100%;
    }
    .footer-list-top{
        flex-wrap: wrap;
       justify-content: space-evenly;
    }
    .footer-list-top > .left-footer{
        flex-direction: column;
    }
    .footer-list-top >.left-footer p:first-child{
        margin-left: 0px;
    }
    .footer-list-top > .right-footer{
        flex-direction: column;
    }
    .footer-list-bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-list-bottom-right{
        padding-top: 10px;
    }
}