*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
html{
    scroll-behavior: smooth;
    
}
.hide{
    display:none;
}
.show{
    display: block;
}
.header_menu {
    width: 100%;
    height: 87px;
    position: fixed;
    background-color: #fcfcfc;
    z-index: 999999;
    /* display: none; */
}
.header_menu .img-logo img{
    width: 128px;
    height: 25px;
    margin-left: 10px;
    margin-top: 30px;
   
}
.header_menu  a {
 white-space: pre;
 font-size: 13px;
 text-decoration: none;
 letter-spacing: 0.2;
}

.header-right{
    /* padding-top: 10px; */
    /* padding-right: 0 120px 0 0 ; */
    right: 0;
}
.nav>li{
    float: left;
    margin-right: 15px;
    display: block;
    
  }
  
  .nav li{
    position: relative;
    list-style:none;
  }
  .nav> li> a{
    padding-top: 30px;
    padding-bottom: 38px;
    font-weight: 600;

  }

  
  .nav li a{
    padding-top: 20px 15px;
    line-height: 20px;
    display: inline-block;
    color: #000000;
    font-size: 16px;

  }
  .nav li a:hover{
    color: blue;
  }
  
  .nav .sub-menu{
    display: none;
    position: absolute;
    top: -20px;
    left: 100%;
    background-color: #ffffff;
    padding: 5px 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .nav .sub-menu a{
    padding-bottom: 5px;
  }
  
  .nav li:hover>.sub-menu{
    display: block;
  }
  .nav li:hover>.sub-menu li{
    display: block;
  }
  
  .nav>li>.sub-menu{
    top: 86px;
    left: 0;
  }
  .nav>li>.sub-menu li {
    margin: 15px 0;
    
  }
  ul.nav li a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
  }
  
  .menu-items_list i{
    font-size: 13px;
    padding-top: 6px;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #fff;
    
  }
  .menu-items_list .facebook i{
    background: #4861AF;
    margin-left: 5px;
    
  }
  .menu-items_list .intagram i{
    background-color: indianred;
    margin-right: 5px;
  }
  .menu-items_list .youtube i{
    background-color: red;
  }
  .menu-items_list .arrow-follow{
    background:url(/assets/img/arrow.png) no-repeat;
    padding-top: 10px;
    font-weight: normal;
    padding-left: 44px;
    margin-left: 20px;
    top: 5px;
    font-size: 10px;
    text-transform: uppercase;
    flex-wrap: wrap;

  }
 
  .menu-items_list:last-child{
    margin-left: 20px;
  }
  .menu-items_list:last-child i{
    color: #000;
font-size: 15px;
    
  }
  .menu-items_list:last-child i:hover{
    color: blue;
  }
  .menu-items_list .header-search::after{
    content: "|";
    height: 100%;
    color: #000;
  }
  
/* Css Search-TAB*/
.header_search-hide{
    display: none;
}
.tab-search {
    margin-top: 20px;
    width: 800px;
    height: 50px;
    background: #eee;
     display: flex ;
     border-radius: 5px;
     align-items: center;


}
.s-text {
    border: none;
    background: none;
    outline: none;
    width: 800px;
    color: rgb(128, 127, 127);
    font-size: 18px;
    height: 40px;
    transition: 0.4s;
    line-height: 20px;
}

.s-button i{
    font-size: 18px;
    color: rgb(128, 127, 127);
    padding: 10px 15px;
    
}
.close_tab-search i{
    font-size: 24px;
    cursor: pointer;
}
/*slider*/
.img-slider img{
    width: 100%;
    height: 705px;
}

.column_product{
    margin-top: -6%;
  
}
.column_product-number{
    z-index: 3;
    position: relative;
   /* background-image:url('/assets/img/kinh-ram.png') */
}
.column_product-number img{
    width: 100%;
    
}
.column_product-number .text-sub{
    position: absolute;
    top: 30%;
    left: 66%;

}
.column_product-number .text-sub h1{
    color: 1E2022;
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}
.column_product-number .text-sub h3{
    color: #575757;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}
.column_product-number .text-sub a{
    text-decoration: none;
    background-color: blue;
    color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
}
.column_product-number .text-sub a:hover{
    background: #FF5C00;
    transition-duration:0.5s;
}
.sales-information{
    background-image: url('/assets/img/kinhmateyeplus-hot-deal.jpg');
    background-size: cover;
    height: 270px;
    margin-top: 15px;
    background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    box-shadow: 10px 1000px 10px rgba(72,114,250,0.80) inset;
}
.sales-information-text h3{
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}
.sales-information-text h2{
    font-size: 24px;
    color: #ffff;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 65px;
}
.sales-information-text a{
    text-decoration: none;
    padding: 15px 25px;
    background-color: #fff;
    color: #4861AF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}
.sales-information-text a:hover{
    background: #FF5C00;
    transition-duration:0.5s;
    color: #ffffff;
}
.fushion-info{
    display: flex;
    margin-top: 30px;
    padding: 0;
}
.fushion-info-text{
    margin-top: 30px;
    flex-wrap: wrap;
}
.fushion-info-text h3{
    font-size: 14px;
    color: #575757;
    font-weight: 500;
    margin-bottom: 20px;
}
.fushion-info-text h2{
    font-size: 18.5px;
    color: #1e2022;
    margin-bottom: 20px;
    font-weight: 600;
}
.fushion-info-text .italic{
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}
.fushion-info-text p{
    font-size: 15px;
    line-height: 1.7;
    
    font-weight: 500;
    margin-bottom: 20px;
    color: #575757;
}
.fushion-info-img>div{
overflow: hidden;
}
.fushion-info-img img:hover{
    transform: scale(1.1);
    transition:ease-in-out 1s;
}
.advantage-info{
    display: flex;
    justify-content: space-between;
    
}
.advantage-info-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px 0px 15px 0px;
    background-color: rgba(255,255,255,0);
    box-shadow: 0px 0px 20px rgb(72 114 250 / 20%);
    border-radius: 8px;
    padding: 20px 30px;
}
.advantage-info-items:first-child{
    margin-right: 30px;
}
.advantage-info-items:last-child{
    margin-left: 30px;
}
.advantage-info-img{
    font-size: 14px;
    line-height: 2.1;
    width: 100%;
    
}
.advantage-info-img:hover h3{
   color: #FF5C00;
}
.advantage-info-img h3{
    color: #242323;
    font-weight: normal;
}
.advantage-info-text p{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #575757;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}
.partner-items{
    background-size: cover;
    background-color: #ecf0fe;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-top: 80px;
    padding-bottom: 30px;

    

}
.partner-item-text h3{
    text-align: center;
    color: #1e2022;
    font-weight: normal;
    margin-bottom: 30px;
}
.partner-item-img{
    display: flex;
    justify-content: space-evenly;
    max-height: 115px;
    width: auto;
    
}
.product-items{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin:50px 0 0 0  ;
    
}
.product-item-lists{
    display: flex;
    margin-bottom: 30px;

}
.product{
    text-align: center;
    margin-right: 50px;
    margin-bottom: 10px;
    border:1px solid #f2f3f5;
    padding-bottom: 20px;

    
}
.product:first-child{
    padding-left: 0;
}
  
.product-item-lists-img{
    position: relative;
}
 .product-item-lists-img>img{
    width: 100%;
    height: 260px;
}
.product-item-text >h3{
    margin-bottom: 20px;
    text-align: center;
    color: #1e2022;
    font-weight: 500;
}
.product-item-lists-title{
    padding: 15px 0;
    
}
.product-item-lists-title a{
    color: #1E2022;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
}
.product-item-lists-title a:hover{
    color: #4872FA;
}
.product-item-lists-price{
    display: flex;
    justify-content: center;
}
.product-item-lists-price .price-old{
        text-decoration-line: line-through;
        margin-right: 5px;
}
.product-item-lists-price .price-new{
    color: #FF5C00;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
.product-item-button{
    align-items: center;
}
.product-item-button a{ 
    text-decoration: none;
    background-color: blue;
    color: #fff;
    border-radius: 4px;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
}
.product-item-button a:hover{
    background: #FF5C00;
    transition-duration:0.5s;
}
.lable-sticker{
    position: absolute;
    background-color: #FF5C00;
    top:20px;
    left: 15px;
    padding: 25px 7px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.blog-items-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}
.blog-item{
    padding: 15px;
    height: 512px;

}
.blog-item:first-child{
    padding-left: 0;
}
.blog-item:last-child{
    padding-right: 0;
}
.blog-item-img img{
    width: 100%;
    height: 260px;
}
.blog-item-content{
    
    display: flex;
    flex-direction: column;
    padding: 15px 2px;
    color: #1E2022;
    font-size: 14px;
    height: 135px;
}
.blog-item-content-title h3{
    color: #1E2022;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
.blog-item-content-subtitle p{
    margin-top: 10px;
    letter-spacing: 0.5px;
    text-align: center;
}
.blog-more {
    text-align: center;
    margin-top: 20px;
}
.blog-more a{
    text-decoration: none;
    background: #ECF0FE;
    border-radius: 4px;
    padding: 11px 16px;
    color: #4872FA;
    padding-top: 15px;
    font-size: 14px;

}
.information-store{
    display: flex  ;
    flex-wrap: wrap;
    background-color: #ecf0fe;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-color: #e2e2e2;
}
.information-store h4{
    font-size: 14px;
    color: #1E2022;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}
.information-store-left{
    flex: 1;
   
}
.information-store-left .map iframe{
    width: 550px;
    height: 288px;
}
.information-store-right{
    display: flex;
    flex: 1 ;

}
.information-store-right .list-store{
    flex: 1;
}
.information-store-right .list-store a{
    display: block;
    color: #4872fa;
    margin-bottom: 20px;
    text-decoration: none;
}
.information-store-right .guide-buy{
    flex: 1;
}
.information-store-right .guide-buy p a{
    padding: 0;
    border: 0;
    color: #575757;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
}
.information-store-right .guide-buy p a:hover{
    color: #4872fa;
    transition-duration: 0.5;
}
.information-store-right .guide-buy h4 a{
    color: #4872fa;
    text-decoration: none;
}

.footer-list-top{
    display: flex;
    margin-top: 60px;
    padding: 30px 0 30px ;
    border-top: 1px solid #999999;
    background-color: #222222;
    border-bottom: 1px solid #999999;
}
.footer-list-top p{

    font-size: 15px;
}
.footer-list-top p:first-child{
    margin-left: 70px;
}
.footer-list-top a{
    display: block;
    color: #999999;
    text-decoration: none;
    padding: 0 30px 0 0;
}

.footer-list-bottom{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    padding: 30px 0 30px ;
} .footer-list-bottom p{
    color: #999999;
    font-size: 15px;
    margin-left: 70px;
}
.footer-list-bottom-right i{
 color: #fff;
 padding: 0 10px 0 10px ;
}